//-----------------------------------------------------------------
// Space Out Resources
// RC Source - SpaceOut.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_SPACEOUT          ICON         "SpaceOut.ico"
IDI_SPACEOUT_SM       ICON         "SpaceOut_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_MISSILE           BITMAP       "bullet.bmp"
IDB_BMISSILE          BITMAP       "BMissile.bmp"
IDB_GAMEOVER          BITMAP       "GameOver.bmp"
IDB_BITMAP3			  BITMAP	   "char_pistol.bmp"
IDB_ENEMY			  BITMAP	   "enemy_idle.bmp"
IDB_TILE			  BITMAP		"tile.bmp"
IDB_WALL			  BITMAP		"wall.bmp"
IDB_TIMMY             BITMAP       "Timmy.bmp"
IDB_HEALTH			  BITMAP		"Health.bmp"
IDB_AMMO		      BITMAP		"Ammo.bmp"
IDB_POINT			  BITMAP		"Point.bmp"
IDB_ARMOR			  BITMAP		"Armor.bmp"
IDB_KEY				  BITMAP         "Key.bmp"
IDB_GATE			  BITMAP		"Gate.bmp"
IDB_TURRET_ENEMY      BITMAP	   "turret_enemy.bmp"
IDB_ROBOT_TURRET_ENEMY  BITMAP     "robot_turret.bmp"
IDB_FINIHEDGATE        BITMAP		"finishedGate.bmp"
IDB_WEAPON_MELTER	   BITMAP		"weapon_melter.bmp"
IDB_MELTER_MISSILE     BITMAP		"melter_missile.bmp"
IDB_SPECIAL_WALL       BITMAP		"special_wall.bmp"

//-----------------------------------------------------------------
// Wave Sounds
//-----------------------------------------------------------------

IDW_GAMEOVER          WAVE         "GameOver.wav"
IDW_HIT				  WAVE			"hitHurt.wav"
IDW_SHOOT			  WAVE			"laserShoot.wav"
IDW_EXPLODE			  WAVE			"explosion.wav"
IDW_RELOAD		      WAVE			"reload.wav"
IDW_POWERUP		      WAVE			"powerUp.wav"
